.main-section-container {
  min-height: 80vh;
  background: url('../../assets/user-images/jon-moore-Er3x1zmQqJk-unsplash.jpg') no-repeat center center fixed ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: grayscale(50%);  
  display: flex;
  justify-content: center;
  align-items: center;   

}

.stack-outer-container {
  position: absolute;
  top: 0;
  width: 50vw;
  left: 25vw;
  right: 25vw;
  
}

.stack-inner-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
 

}

.stack-option {
  font-weight: 500;
  padding-left: 0.5em;
  padding-right: 0.5em; 
  margin: 0;
}

.main-section-inner-container {
  text-align: center;
  font-size: 1.5em;
    
}

.main-text {
  font-size: 2em;
  text-transform: uppercase;
  color: rgb(0,21,41);
  margin-bottom: 0.3em;
  text-shadow: 2px 2px 2px rgb(56, 64, 67);
}

.supporting-text {
  font-size: 1.3em;
  font-weight: 500;
  margin: 0;  
  text-shadow: 2px 2px 2px grey;
}

.button {
  margin-top: 1.7em;
  height: 2.5em;
  width: 7em;
  font-size: 1.2em;
  background-color: rgb(198, 85, 11) ;
 
}

@media screen and (max-width: 700px ) {

  .stack-outer-container{
    width: 100vw;
    right: 0;
    left: 0;
  }

  
}