.stack-outer-container {
  position: absolute;
  top: 0;
  width: 50vw;
  left: 25vw;
  right: 25vw;
  
}

.stack-inner-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
 

}

.stack-option {
  font-weight: 500;
  padding-left: 0.3em;
  padding-right: 0.3em; 
  margin: 0;
}


@media screen and (max-width: 700px ) {

  .stack-outer-container{
    width: 100vw;
    right: 0;
    left: 0;
  }

  
}