.footer-side-text {
  color: rgb(0,21,41);
}

.footer-section-container { 
  height: 5em;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  
}

@media screen and (max-width: 620px){

  .footer-side-text{
    display: none;
  }
  
}