.avatar-and-name-container {
  display: flex;
  align-items: center;
}

.username {
  color: grey;
  padding-left: 2.5em;
}

@media screen and (max-width: 620px) {
  .username {
    display: none;
  }

}
